<form class='auth-form'>
    <h1 class='auth-form__title'>Логин</h1>
    <div class='auth-form__fields'>
        {{{ Login }}}
        {{{ Password }}}
    </div>
    {{{ ButtonBlock }}}
    {{{AlterButton}}}
</form>