<form class='auth-form'>
    <h1 class='auth-form__title'>Логин</h1>
    <div class='auth-form__fields'>
        {{> Input label='Логин' placeholder='mail@yandex.ru' type='text'}}
        {{> Input label='Пароль' placeholder='nonbrutforcable' type='password'}}
    </div>
    <a href='/' class='auth-form__link'> {{> Button text='Авторизоваться'}}</a>
    <a href='/reg' class='auth-form__alternative-button auth-form__alternative-button--underline'>Нет аккаунта?</a>
</form>