<form class='auth-form'>
    <h1 class='auth-form__title'>Регистрация</h1>
    <div class='auth-form__fields'>
        {{> Input label='Почта' placeholder='mail@yandex.ru' type='text'}}
        {{> Input label='Имя' placeholder='Иван' type='text'}}
        {{> Input label='Фамилия' placeholder='Иванов' type='text'}}
        {{> Input label='Телефон' placeholder='8(800)555-35-35' type='text'}}
        {{> Input label='Пароль' placeholder='nonbrutforcable' type='password'}}
        {{> Input label='Пароль (еще раз)' placeholder='nonbrutforcable' type='password'}}
    </div>
    <a href='/' class='auth-form__link'> {{> Button text='Зарегистрироваться'}}</a>
    <a href='/auth' class='auth-form__alternative-button'>Войти</a>
</form>