$accent: #fed19b;
$accent-light: #ffc683;
$black: #131313;
$total-black: #000;
$dark-grey: #3d3d3d;
$light-grey: #999999;
$dark-blue: #363d46;
$white: #ffffff;
$milk: #ffffff;

$success: #a0ed3e;
$danger: #eb2e2e;
$dark: #131313;
