<nav class='main-nav'>
    <div class='main-nav__controls'>
        <div class='main-nav__controls-top'> 
            {{{ BurgerMenu}}}
            {{{ TextInput}}}
        </div>
        {{{ RadioGroup }}}
    </div>
    <ul class='main-nav__chats'>
        {{#each people}}
          
        {{/each}}
    </ul>
</nav>