@import '../../../../common/styles/colors.scss';

.radio-group {
    padding: 20px 0;
    display: flex;
    &__item {
        margin-left: 10px;
    }
    &__radio {
        display: none;
    }
    &__label {
        padding: 5px 10px;
        background-color: $white;
        border-radius: 20px;
        cursor: pointer;
    }
    &__radio:checked + &__label {
        background-color: $dark-grey;
        color: $white;
    }
}
