<div for="" class='radio-group'>
    {{#each items}}
        <div class="radio-group__item">
            <input type="radio" class="radio-group__radio" name="one" id={{label}}>
            <label for={{label}} class="radio-group__label">{{label}}</label>
        </div>
    {{/each}}
</div>