<form class='auth-form'>
    <h1 class='auth-form__title'>Регистрация</h1>
    <div class="auth-form__fields">
        {{> Input label='Логин' placeholder='mail@yandex.ru' type='text'}}
        {{> Input label='Пароль' placeholder='nonbrutforcable' type='password'}}
    </div>
    <a href="/" class='auth-form__link'> {{> Button text="Авторизоваться"}}</a>
</form>