<main class='layout'>
    <section class='layout__section--menu'>{{{nav}}}</section>
    <section class='layout__section--main'>
        <div class='layout__main-default'>
            <p class='layout__main-default-quote'>Самое лучшее время, чтобы посадить дерево, минуло 20 лет назад. Следующий подходящий момент — сегодня. Китайская пословица</p>
            <p class='layout__main-default-call'>Выберите чат 🙏</p>
        </div>
    </section>
    <section class='layout__section--aside'>{{{aside}}}</section>

</main>