<main class='layout'>
    <section class='layout__section--menu'>{{{nav}}}</section>
    <section class='layout__section--main'>
        {{{main}}}
    </section>
    <section class='layout__section--aside'>{{{aside}}}</section>

</main>