<div class='burger-menu'>
    <input type='checkbox' class='burger-menu__checkbox' id='burger-menu-button'>
    <label for='burger-menu-button' class='burger-menu__button'></label>
    <div class='burger-menu__list'><a href='/auth'>auth</a></div>
</div>